@mixin footerStrut {
    width: 100%;
    height: 120px;
    background: $background-colorTwo;
    text-align: center;
    color: $white;
    padding-top: 50px;

}

@mixin greyBar {
    width: 100%;
    height: 90px;
    background: $background-color;
    clear: both;
    padding-top: 30px;
}
@mixin socialMedia {
    margin: 0 auto;
    width: 165px;
}
@mixin socialAnchor {
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
}
@mixin divStrut {
    float: left;
    margin-right: 5px;
}
@mixin socialImageOne($image) {
    background: url($image) 0 0;
}
@mixin socialImageTwo($image) {
    background: url($image) -38px 0;
}
@mixin socialImageThree($image) {
    background: url($image) -76px 0;
}
@mixin socialImageFour($image) {
    background: url($image) -114px 0;
}
@mixin bodyImage($image) {
    background:url($image);
    background-repeat: repeat-x;
    background-color: $white;
    margin:0;
}
@mixin fig($image) {
    width:400px;
    height: 190px;
    background:url($image) no-repeat 0 50px;
    float: left;
    display: block;
    margin: 0;
}
@mixin unorderList {
    list-style-type:none;
    margin-top:95px;
}
@mixin list {
    display:inline;
    font-size:0.8em;
    margin-right:10px;
}
@mixin anchor {
    color:$navigationA;
    text-decoration:none;
    letter-spacing:-0.01em;
}
@mixin anchorhover {
    color: $white;
}

@mixin headlines {
    width: 100%;
    height: 130px;
    background: $backgrounc-colorThree;
    text-align: center;
    margin: 0 auto;
}