$navigationA: #E65C43;
$header-one: #E65C43;
$white: #FFF;
$header-three: #666;
$font-body: 'Roboto';
// $assetPath: "../images";
$background-color: #F5F6F6;
$background-colorTwo: #30353D;
$backgrounc-colorThree:#F25C43;
