$navigationA: #E65C43;
$header-one: #E65C43;
$white: #FFF;
$header-three: #666;
$font-body: 'Roboto';
$background-image: '/images/bg.gif';
$socialMedia: '/images/social-media.png';
$background-color: #F5F6F6;
$background-colorTwo: #30353D;